*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

html,
body {
  height: 100%;
}

.layout-main {
  display: flex;
  max-width: 1240px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

p {
  margin-bottom: 1em;
  color: #333;
}

a {
  text-decoration: none;
}

@media (max-width: 490px) {
  .a-propos-container {
    height: auto;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
  background-color: black;
  margin-top: 30px;
}
footer img {
  width: 122px;
  height: 39px;
  margin-bottom: 10px;
}
footer h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  size: 24px;
  margin: 0;
}

@media (max-width: 490px) {
  footer {
    width: 100%;
  }
  footer h3 {
    font-size: 12px;
    margin: 0;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 90%;
  border-radius: 25px;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0 40px;
}
.banner h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 690px) {
  .banner h1 {
    width: 335px;
    padding: 20px;
  }
}

@media (max-width: 490px) {
  .banner {
    display: flex;
    justify-content: flex-start;
    height: 111px;
    border-radius: 10px;
    margin: 0 0 30px;
  }
  .banner h1 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    width: 220px;
    height: 111px;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  max-width: 1240px;
  margin: 40px 0 50px;
  padding: 0 20px;
  width: 93%;
}
nav img {
  width: 210px;
  height: 68px;
}
nav .nav-links {
  display: flex;
  gap: 57px;
}
nav .nav-links a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}
nav .nav-links .active {
  text-decoration: underline;
  text-underline-offset: 1px;
}

@media (max-width: 600px) {
  nav {
    margin: 20px 0 20px;
    padding: 0;
    min-width: 335px;
    width: auto;
  }
  nav img {
    width: 145px;
    height: 46px;
  }
  nav .nav-links {
    gap: 20px;
    align-items: center;
    gap: auto;
  }
  nav .nav-links a {
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
  nav .nav-links .active {
    text-underline-offset: 2px;
  }
}
.card-box {
  width: 100%;
  max-width: 1240px;
  height: 829px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 340px));
  gap: 20px;
  justify-items: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin: 0 auto;
  padding: 50px;
  overflow-y: auto;
  scrollbar-width: none;
}
@media (max-width: 1236px) {
  .card-box {
    gap: 70px;
  }
}
@media (max-width: 907px) {
  .card-box {
    padding: 20px 0;
    gap: 20px;
  }
}
@media (max-width: 756px) {
  .card-box {
    border-radius: 0;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
}
.card-box .card {
  width: 340px;
  height: 340px;
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card-box .card img {
  height: 340px;
}
.card-box .card h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 268px;
  left: 20px;
}

@media (max-width: 490px) {
  .home-conontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
  }
  .home-conontainer .banner {
    border-radius: 10px;
  }
  .home-conontainer .card-box {
    margin: 0;
    border-radius: 10px;
    height: 100%;
  }
  .home-conontainer .card-box .card-link img {
    border-radius: 30px;
  }
  .home-conontainer .card-box .card-link img .card {
    border-radius: 20px;
    width: 335px;
    height: 255px;
  }
  .home-conontainer .card-box .card-link img .card h2 {
    top: 200px;
    left: 30px;
  }
}
.a-propos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.collapses-container .collapse {
  display: flex;
  justify-content: center;
  max-width: 1023px;
  box-sizing: border-box;
}
.collapses-container .collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 15px;
  background-color: #FF6060;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 80%;
}
.collapses-container .collapse-header h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.collapses-container .collapse .arrow-icon {
  width: 20px;
  transition: transform 0.2s ease;
}
.collapses-container .collapse .open {
  transform: rotate(-180deg);
}
.collapses-container .collapse-content {
  padding: 15px;
  display: none;
  display: block;
  background-color: rgba(246, 246, 246, 0.4509803922);
}
.collapses-container .collapse-content p {
  margin: 0;
}

@media (max-width: 490px) {
  .collapses-container {
    gap: 20px;
  }
  .collapses-container .collapse {
    width: 100%;
  }
  .collapses-container .collapse h2 {
    font-size: 13px;
    font-weight: 700;
  }
  .collapses-container .collapse-content p {
    font-weight: 400;
    font-size: 12px;
  }
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
}
.error-container img {
  width: 597px;
  height: 236px;
  margin-top: 90px;
}
.error-container h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.error-container a {
  text-decoration: underline;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
}

@media (max-width: 490px) {
  .error-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .error-container img {
    width: 230px;
    height: 80px;
  }
  .error-container h1 {
    display: flex;
    width: 260px;
    height: 52px;
    font-size: 18px;
    margin: 0;
  }
  .error-container a {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 500;
  }
}
.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.slideshow__image {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
}
.slideshow__counter {
  position: absolute;
  top: 357px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.slideshow__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
}
.slideshow__arrow--left {
  left: 10px;
}
.slideshow__arrow--right {
  right: 10px;
}

@media (max-width: 490px) {
  .fiche-logement .slideshow {
    height: 225px;
  }
  .fiche-logement .slideshow__image {
    height: 100%;
  }
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.fiche-logement {
  display: flex;
  flex-direction: column;
}
.fiche-logement__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
  margin-top: 30px;
}
.fiche-logement__info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.fiche-logement__tags {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
.fiche-logement__tag {
  align-items: center;
  background-color: #FF6060;
  width: auto;
  border-radius: 10px;
  font-weight: 700;
  padding: 0 15px;
}
.fiche-logement__tag p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 0;
  height: 25px;
}
.fiche-logement__host {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fiche-logement__host p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FF6060;
}
.fiche-logement__host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  margin-left: 10px;
}
.fiche-logement__rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.fiche-logement .inactive {
  margin: 0 4px;
  width: 25px;
  height: 26px;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}
.sections .collapse {
  width: 47%;
  max-width: 582px;
  margin-bottom: 20px;
}
.sections .collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 15px;
  background-color: #FF6060;
  border-radius: 5px;
  cursor: pointer;
}
.sections .collapse-content {
  overflow: hidden;
  padding: 15px;
  display: none;
  display: block;
  background-color: rgba(246, 246, 246, 0.4509803922);
}
.sections .collapse-content li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.sections .collapse-content p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.sections .collapse h2 {
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.sections .collapse .arrow-icon {
  width: 20px;
  transition: transform 0.2s ease;
}
.sections .collapse .open {
  transform: rotate(-180deg);
}

@media (max-width: 816px) {
  .fiche-logement__info {
    display: flex;
    flex-direction: column;
  }
  .fiche-logement__info-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .fiche-logement .sections {
    flex-direction: column;
    align-content: center;
    gap: 20px;
    align-items: center;
  }
  .fiche-logement .sections .collapse {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .fiche-logement .slideshow {
    height: auto;
  }
  .fiche-logement .slideshow__image {
    border-radius: 10px;
  }
  .fiche-logement .slideshow__arrow img {
    width: 11px;
    height: 19px;
  }
  .fiche-logement .slideshow__counter {
    display: none;
  }
  .fiche-logement h1 {
    font-size: 18px;
    font-weight: 500;
  }
  .fiche-logement__location {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .fiche-logement__tag {
    height: 18px;
    border-radius: 5px;
    padding-top: 1px;
  }
  .fiche-logement__tag p {
    font-size: 10px;
    font-weight: 700;
  }
  .fiche-logement__info {
    margin-top: 0;
  }
  .fiche-logement__info-right {
    margin: 15px 0;
    align-items: center;
  }
  .fiche-logement__star.active {
    width: 18px;
    height: 18px;
  }
  .fiche-logement__star.inactive {
    width: 13px;
    height: 13px;
    margin: 0;
  }
  .fiche-logement__host {
    align-items: center;
  }
  .fiche-logement__host p {
    font-size: 12px;
  }
  .fiche-logement__host-picture {
    width: 32px;
    height: 32px;
  }
  .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sections .collapse {
    width: 100%;
    min-width: 335px;
    margin: 0;
  }
  .sections .collapse-header {
    height: 30px;
    padding: 10px;
  }
  .sections .collapse-header h2 {
    font-size: 13px;
    font-weight: 700;
  }
  .sections .collapse-header .arrow-icon {
    width: 16px;
  }
  .sections .collapse-content p {
    font-size: 12px;
    font-weight: 400;
  }
  .sections .collapse-content li {
    font-size: 12px;
    font-weight: 400;
  }
}/*# sourceMappingURL=main.css.map */