@import '../../scss/variables';

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 0 40px;
  h1 {
    color: white;
    font-family: $font-primary;
  }
}
@media (max-width: 490px) {
  .banner {
    display: flex;
    justify-content: flex-start;
    width: 335px;
    height: 111px;
    border-radius: 10px;
    margin: 0;
    h1 {
      margin-left: 20px;
      font-size: 24px;
      font-weight: 700;
      width: 220px;
      height: 48px;
    }
  }
}
