
@import '../../scss/variables';

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    max-width: 1240px;
    border-radius: 25px;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    margin: 40px auto;
    h1 {
        color: white;
        font-family: $font-primary;
    }
}