@import '../../scss/variables';

.card-box {
    width: 100%;
    max-width: 1240px;
    height: 829px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 340px));
    gap: 20px;
    justify-items: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin: 0 auto;
    padding: 50px;
    overflow-y: auto;
    scrollbar-width: none;
    @media (max-width: 1236px) {
        gap: 70px;
    }
    @media (max-width: 907px) {
        padding: 20px 0;
        gap: 20px;
    }
    @media (max-width: 756px) {
        border-radius: 0;
        background-color: white;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .card {
        width: 340px;
        height: 340px;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        border-radius: 10px;

        img {        
            height: 340px;
        }
        h2 {
            color: white;
            font-family: $font-primary;
            font-size: 18px;
            font-weight: 700;
            position: absolute;
            top: 268px;
            left: 20px;
        }
    }
}
@media (max-width: 490px) {
    .banner {
        border-radius: 10px;
    }
    .card-box {
        margin: 20px 0 0 0;
        border-radius: 10px;
        height: 100%; 
        margin-bottom: 10px;   
        .card {
            .card-link img {
                border-radius: 30px;
                border-radius: 20px;
                width: 335px;
                height: 255px;
            }
            h2 {
                top: 290px;
                left: 20px;
                width: 90%;
            }
        }
    }    
}