@import '../../scss/variables';

.card-box {
    max-width: 1240px;
    height: 829px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 340px));
    gap: 50px;
    justify-items: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin: 0 auto;
    padding: 50px 0;
    overflow-y: auto;
    scrollbar-width: none;
    .card {

        width: 340px;
        height: 340px;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        img {        

            height: 340px;
        }
        border-radius: 10px;
        h2 {
            color: white;
            font-family: $font-primary;
            font-size: 18px;
            font-weight: 700;
            position: absolute;
            top: 268px;
            left: 20px;
        }
    }
}